@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400|Roboto:100,400);

$font-family-sans-serif: 'Open Sans';
$text-color: #555;

$grid-gutter-width: 0px;

// --- Colors --- //
$brand-primary: darken(#428bca, 6.5%);
$white: #fff;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// --- List Group --- //
$list-group-hover-bg: $brand-primary;
$list-group-link-hover-color: $white;
