<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="col-md-4 col-md-offset-4 settings">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h2>Todo List</h2>
        </div>

        <div id="notice" class="panel-body">
          <p class="default-text">Notification Center</p>
        </div>

        <div id="todo-wrap">
          <div class="index-wrap">
            <%= yield %>
          </div>

          <div class="content-wrap">
            <div class="content"></div>
          </div>
        
        </div><!-- todo-wrap end -->
      </div><!-- panel end -->
    </div><!-- column end -->

  </body>
</html>
